body {
	font-size: 16px;
	font-family: sans-serif;
}
#menu {
	padding-top: 20px;
}
#chicken ,#beef ,#sushi {
	font-size: 20px;
	padding:1px;
}
.box1 ,.box2 ,.box3 {
	background: gray;
	border: 1px solid black;
	position: relative;
	float: left;
	margin: 0.9%;
	width: 31%;

}

p {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 992px) {
	#full-list {
		visibility: hidden;
	}
	.back-to-top {
		visibility: hidden;
	}
	.box1 ,.box2 ,.box3 {
		width: 31.5%;
	}

}
/** large devices only**/
@media (min-width: 768px) and (max-width: 991px) {
	#full-list {
		visibility: hidden;
	}
	.back-to-top {
		visibility: hidden;
	}
	.box1 ,.box2{
		width: 47%;
	}
	.box3 {
		width: 96%;
	}
}
/** medium devices only **/
@media (min-width: 576px) and (max-width: 767px) {
	#full-list {
		visibility: hidden;
	}
	.box1 ,.box2 ,.box3 {
		width: 95%;
	}
	
}
/** small devices**/
@media (max-width: 576px) {
	.navbar-brand ,.navbar-toggler {
		font-size: 5vw;
	}
	.box1 ,.box2 ,.box3 {
		width: 95%;
	}

}